/*

COLOUR PALETTE

orange accent       ff8e2d
teal                20abad
darker teal         007c84
off-white           eeeaeb

GOOGLE FONTS 

font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/

/* UNIVERSAL STYLES */
body {
    background-color: #20abad;
}

h1 {
    font-family: Pacifico, cursive;
    color: #eeeaeb;
    font-weight: 400;
    text-align: center;
}

nav {
    padding: 1rem;
}

.navigation h2 {
    display: none;
}

.menu img {
    height: 1rem;
}

.menu {
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

.menu a {
    color: #eeeaeb;
}

.menu ul {
    list-style-type: none;
}

.menu ul a {
    text-decoration: none;
}

.hero-banner {
    background-image: url("../img/grapefruit-bg.jpg");
    background-color: #ff8e2d;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #eeeaeb;
    padding: 6rem;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content h2 {
    font-family: Pacifico, cursive;
    font-weight: 600;
    font-size: 3rem;
}

.hero-banner p, 
.hero-banner a {
    font-family: Poppins, sans-serif;
    padding: 1rem;
}

.hero-banner a {
    background-color: #20abad;
    text-transform: uppercase;
    color: #eeeaeb;
    border-radius: 0.5rem;
}

a:hover,
.menu li:focus-within a {
    background-color: #007c84;
}

/* MOBILE VIEW */
.menu img {
    display: none;
}

/* DESKTOP VIEW */
@media screen and (min-width: 720px) {
    .menu img {
        display: inline;
        /* used a filter to achieve color change in the svg, which was black but meant to be offwhite */
        filter: invert(85%) sepia(61%) saturate(9%) hue-rotate(286deg) brightness(96%) contrast(101%);
    }

    ul, li {
        padding: 0;
        margin: 0;
    }

    .menu ul {
        position: absolute;
        background-color: #20abad;
        opacity: 0;
    }

    .menu li:focus-within ul,   
    .menu li:focus ul,
    .menu li:hover ul {
        transition: opacity 0.5s;
        opacity: 1;
    }

    .menu {
        line-height: 2rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu li {
        position: relative;
    }

    .hero-content {
        background: unset;
        padding: 30vh 0 0 50vh
    }

    .hero-banner {
        height: 100vh;  
    }
}

/* LARGEST VIEW */
@media screen and (min-width: 1024px) {
    header h1,
    header nav,
    .hero-content {
        max-width: 1024px;
        margin: 0 auto;
    }
}
